{% extends 'base.html' %}

{% block content %}

{% if error %}
  {{error}}
  <br />
  <br />
{% endif %}


<h1>Sign Up !</h1>

<form action="{% url 'signup' %}" method="post">
  {% csrf_token %}

  Username:
  <br/>
  <input type="text" name="username" value="" />
  <br />
  Password:
  <br/>
  <input type="password" name="password1" value="" />
  <br />
  Confirm Password:
  <br />
  <input type="password" name="password2" value="" />
  <br/>
  <input type="submit" class="btn btn-primary mt-3" value="Sign Up!">
</form>
{% endblock %}
